body
{
    background-image: url(https://cdn.pixabay.com/photo/2016/03/04/19/36/gears-1236578_1280.jpg);
    background-size: cover;
    text-align: center;
}

:is(h1, h2, h3, h4, h5, h6) 
{
    color: rgb(107, 155, 165);
}


