@{
  Layout = "_Layout";
}
<div class="container">
  <div class="jumbotron">
  <h1>Welcome to Dr. Sillystringz's Super <em>Sketchy<em> Factory! </h1>
  </div>
</div>
<p>@Html.ActionLink("Engineer Directory", "Index", "Engineers")</p>
<p>@Html.ActionLink("Machine Directory", "Index",
  "Machines")</p>